.chat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
    width: 100%;
    height: 100vh;
  }
  
  .message-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 70vh;
    overflow-y: auto;
    width: 100%;
    background-color: #F7F9FB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin-top: 20px;
  }
  
  .user-input button {
    background-color: #0077ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .user-input button:hover {
    background-color: #0077ff;
  }
  
  
  