.sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .form-field > *:not(:last-child) {
    margin-bottom: 8px;
  }
  
  .input-form-field > label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
  }
  
  .input-form-field > input {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
  }
  
  
  .random-name-button {
    border: none;
    background-color: transparent;
    color: #0077ff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }
  
  .button {
    padding: 12px 16px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0066cc;
  }
  
  .button:active {
    background-color: #0052cc;
  }
  



  